* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
